@use "../../styles/main.scss";

.faq {
}

.title {
  color: #154c7e;
  text-align: center;
  margin-bottom: main.rem(36);
  font-size: main.rem(32);
  font-weight: 600;
}

.items {
  display: flex;
  flex-direction: column;
  gap: main.rem(20);
}

.item {
  border-bottom: 1px solid #154c7e;
  overflow: hidden;
  transition: all 0.3s ease;
}

.question {
  width: 100%;
  padding: main.rem(20) main.rem(24);
  background-color: transparent;
  color: #154c7e;
  font-size: main.rem(20);
  font-weight: 600;
  text-align: left;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: main.rem(20);
  color: #154c7e;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.answerWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, padding 0.2s ease-in-out;
}

.open {
  max-height: 500px;
  padding-bottom: main.rem(16);
}

.answer {
  padding: 0 main.rem(24);
  font-size: main.rem(18);
  line-height: 1.7;
}
